.content {
  display: flex;
  position: relative;
  align-items: left;
}

img {
  height: 100vh;
  width: 100vw;
}

h1 {
  position: absolute;
}

div button {
  position: absolute;
  align-items: left;
  color: green;
  background-color: azure;
}
